<!DOCTYPE html>
<html lang="en">
<head>
    <title>ZapWeb</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    @RenderSection("style", false)
</head>
<body>
    @RenderBody()
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
